---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.card {
  /* Add shadows to create the "card" effect */
  width: 225px;
  height: 300px;
  padding: 10px;
  margin: 0 0 10px 0;
  float: left;
}

.card h3 {
    margin: 10px 0;
    font-size: 14px;
}