<h3>Certifications</h3>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0b1e5c45-92c1-4ebd-bf87-35b2951c2a9c" data-share-badge-host="https://www.credly.com"></div>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="88d985ae-4aa7-4a5d-8fee-2fd64d8fc96d" data-share-badge-host="https://www.credly.com"></div>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="8138a893-af94-4b6c-8a6b-4903761ce44b" data-share-badge-host="https://www.credly.com"></div>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="b4fa5ab8-18ce-44fc-947f-76551eb9350e" data-share-badge-host="https://www.credly.com"></div>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="bc18e02c-9b78-4704-be47-08b60908a0ba" data-share-badge-host="https://www.credly.com"></div>

<p>More certifications on <a href="https://www.credly.com/users/rasmus-lystrom/badges">Credly</a>.</p>

<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
