
<div class="footer-col-wrapper">
    <div class="footer-col footer-col-2">
        <a href="https://www.credly.com/badges/5109862a-5126-4527-bf32-4c70109324ce/public_url"><img
                src="https://images.credly.com/size/340x340/images/c9ed294b-f8ac-48fa-a8c3-96dab1f110f2/image.png"
                alt="GitHub Advanced Security Badge" title="GitHub Advanced Security" /></a>
        <div class="small-caption">
            GitHub Advanced Security
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a href="https://www.credly.com/badges/3f0f132e-bc8e-48a2-b630-42a2112baaa8/public_url"><img
                src="https://images.credly.com/size/340x340/images/89efc3e7-842b-4790-b09b-9ea5efc71ec3/image.png"
                alt="GitHub Actions Badge" title="GitHub Actions" /></a>
        <div class="small-caption">
            GitHub Actions
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a href="https://www.credly.com/badges/dcc28c86-cad5-4f53-b0c6-8668f852297d/public_url"><img
                src="https://images.credly.com/size/340x340/images/34880f37-8ec8-4542-a78a-73ba6647208e/image.png"
                alt="GitHub Administration Badge" title="GitHub Administration" /></a>
        <div class="small-caption">
            GitHub Administration
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a href="https://www.credly.com/badges/f895e541-7575-4f8b-b738-8a78d7212dcc/public_url"><img
                src="https://images.credly.com/size/340x340/images/6b924fae-3cd7-4233-b012-97413c62c85d/blob"
                alt="GitHub Copilot Badge" title="GitHub Copilot" /></a>
        <div class="small-caption">
            GitHub Copilot
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a href="https://www.credly.com/badges/50176afe-815f-4645-b70e-4ee713178534/public_url"><img
                src="https://images.credly.com/size/340x340/images/024d0122-724d-4c5a-bd83-cfe3c4b7a073/image.png"
                alt="GitHub Foundations Badge" title="GitHub Foundations" /></a>
        <div class="small-caption">
            GitHub Foundations
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a
            href="https://learn.microsoft.com/api/credentials/share/en-us/ondfisk/F3E6CA8E433E445?sharingId=CD9FFFAADA4C2810"><img
                src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-expert-badge.svg?branch=main"
                alt="Microsoft Certified: Azure Solutions Architect Expert Badge"
                title="Microsoft Certified: Azure Solutions Architect Expert" /></a>
        <div class="small-caption">
            Microsoft Certified: Azure Solutions Architect Expert
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a
            href="https://learn.microsoft.com/api/credentials/share/en-us/ondfisk/12DDF73602AEABE?sharingId=CD9FFFAADA4C2810"><img
                src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-expert-badge.svg?branch=main"
                alt="Microsoft Certified: DevOps Engineer Expert Badge"
                title="Microsoft Certified: DevOps Engineer Expert" /></a>
        <div class="small-caption">
            Microsoft Certified: DevOps Engineer Expert
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a
            href="https://learn.microsoft.com/api/credentials/share/en-us/ondfisk/6BAADC67F67BFEC6?sharingId=CD9FFFAADA4C2810"><img
                src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-associate-badge.svg?branch=main"
                alt="Microsoft Certified: Azure Developer Associate Badge"
                title="Microsoft Certified: Azure Developer Associate" /></a>
        <div class="small-caption">
            Microsoft Certified: Azure Developer Associate
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a
            href="https://learn.microsoft.com/api/credentials/share/en-us/ondfisk/3A24697F41FC3B57?sharingId=CD9FFFAADA4C2810"><img
                src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-associate-badge.svg?branch=main"
                alt="Microsoft Certified: Azure AI Engineer Associate Badge"
                title="Microsoft Certified: Azure AI Engineer Associate" /></a>
        <div class="small-caption">
            Microsoft Certified: Azure AI Engineer Associate
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a
            href="https://learn.microsoft.com/api/credentials/share/en-us/ondfisk/D685C49AE726D673?sharingId=CD9FFFAADA4C2810"><img
                src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-associate-badge.svg?branch=main"
                alt="Microsoft Certified: Azure Administrator Associate Badge"
                title="Microsoft Certified: Azure Administrator Associate" /></a>
        <div class="small-caption">
            Microsoft Certified: Azure Administrator Associate
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a
            href="https://learn.microsoft.com/api/credentials/share/en-us/ondfisk/AE91E69773A885F4?sharingId=CD9FFFAADA4C2810"><img
                src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-associate-badge.svg?branch=main"
                alt="Microsoft Certified: Azure Security Engineer Associate Badge"
                title="Microsoft Certified: Azure Security Engineer Associate" /></a>
        <div class="small-caption">
            Microsoft Certified: Azure Security Engineer Associate
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a
            href="https://learn.microsoft.com/api/credentials/share/en-us/ondfisk/297DCECE1D6EAC0E?sharingId=CD9FFFAADA4C2810"><img
                src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-fundamentals-badge.svg?branch=main"
                alt="Microsoft Certified: Azure Fundamentals Badge"
                title="Microsoft Certified: Azure Fundamentals" /></a>
        <div class="small-caption">
            Microsoft Certified: Azure Fundamentals
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a
            href="https://learn.microsoft.com/api/credentials/share/en-us/ondfisk/9EA86E6A1CF1C9E2?sharingId=CD9FFFAADA4C2810"><img
                src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-fundamentals-badge.svg?branch=main"
                alt="Microsoft Certified: Azure Data Fundamentals Badge"
                title="Microsoft Certified: Azure Data Fundamentals" /></a>
        <div class="small-caption">
            Microsoft Certified: Azure Data Fundamentals
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a
            href="https://learn.microsoft.com/api/credentials/share/en-us/ondfisk/7F222D05B023F8B9?sharingId=CD9FFFAADA4C2810"><img
                src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-fundamentals-badge.svg?branch=main"
                alt="Microsoft Certified: Azure AI Fundamentals Badge"
                title="Microsoft Certified: Azure AI Fundamentals" /></a>
        <div class="small-caption">
            Microsoft Certified: Azure AI Fundamentals
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a
            href="https://learn.microsoft.com/api/credentials/share/en-us/ondfisk/80C10EFD8278887D?sharingId=CD9FFFAADA4C2810"><img
                src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-fundamentals-badge.svg?branch=main"
                alt="Microsoft Certified: Security, Compliance, and Identity Fundamentals Badge"
                title="Microsoft Certified: Security, Compliance, and Identity Fundamentals" /></a>
        <div class="small-caption">
            Microsoft Certified: Security, Compliance, and Identity Fundamentals
        </div>
    </div>
    <div class="footer-col footer-col-2">
        <a
            href="https://learn.microsoft.com/api/credentials/share/en-us/ondfisk/E941C0AB01940311?sharingId=CD9FFFAADA4C2810"><img
                src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-fundamentals-badge.svg?branch=main"
                alt="Microsoft 365 Certified: Fundamentals Badge" title="Microsoft 365 Certified: Fundamentals" /></a>
        <div class="small-caption">
            Microsoft 365 Certified: Fundamentals
        </div>
    </div>
</div>