---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- if page.type == 'blog' -%}
      <i class="fa-solid fa-file"></i> Blog&nbsp;
      {%- endif -%}
      {%- if page.type == 'talk' -%}
      <i class="fa-solid fa-bullhorn"></i> Talk&nbsp;
      {%- endif -%}
      {%- if page.type == 'keynote' -%}
      <i class="fa-solid fa-microphone"></i> Keynote&nbsp;
      {%- endif -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <i class="fa-solid fa-calendar"></i> {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      <i class="fa-solid fa-user"></i> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>&nbsp;
      {%- endif -%}
      {%- if page.updated -%}
      <i class="fa-solid fa-calendar-plus"></i> {{ page.updated | date: date_format }} {{ page.updated_message }}&nbsp;
      {%- endif -%}
      {%- if page.categories -%}
      <i class="fa-solid fa-tag"></i> {{ page.categories }}
      {%- endif -%}
      </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
